# List in a Dictionary

In [22]:
list_in_dic = {'students':['Nasir','Yasir','Umer','Saad'], 'marks':[10,9,8,9]}
import pandas as pd
pd.DataFrame(list_in_dic)

In [23]:
list_in_dic

{'students': ['Nasir', 'Yasir', 'Umer', 'Saad'], 'marks': [10, 9, 8, 9]}

In [4]:
list_in_dic['students']

['Nasir', 'Yasir', 'Umer', 'Saad']

In [5]:
list_in_dic['marks']

[10, 9, 8, 9]

In [7]:
list_in_dic['students'][1:3]

['Yasir', 'Umer']

# Dictionary in a list

In [8]:
dic_in_list = [{'sales':[1,21,31,42,34,51,23,41]},
               {'profit':[2,3,4,5,6,7,7,9]},
               {'cost':[1,1,1,2,2,2,]}
              ]

In [9]:
dic_in_list

[{'sales': [1, 21, 31, 42, 34, 51, 23, 41]},
 {'profit': [2, 3, 4, 5, 6, 7, 7, 9]},
 {'cost': [1, 1, 1, 2, 2, 2]}]

In [10]:
dic_in_list[0]

{'sales': [1, 21, 31, 42, 34, 51, 23, 41]}

In [11]:
dic_in_list[1]

{'profit': [2, 3, 4, 5, 6, 7, 7, 9]}

In [12]:
dic_in_list[2]

{'cost': [1, 1, 1, 2, 2, 2]}

In [14]:
dic_in_list[0]['sales'][2]

31

In [15]:
dict_in_dic = {
                 'dict1':{'profit': [2, 3, 4, 5, 6, 7, 7, 9]},
                 'dict2':{'cost': [1, 1, 1, 2, 2, 2]}
                  
}

In [16]:
dict_in_dic

{'dict1': {'profit': [2, 3, 4, 5, 6, 7, 7, 9]},
 'dict2': {'cost': [1, 1, 1, 2, 2, 2]}}

In [19]:
dict_in_dic['dict1']

{'profit': [2, 3, 4, 5, 6, 7, 7, 9]}

In [21]:
dict_in_dic['dict1']['profit'][4]

6

# Python Quizz Solution

In [24]:
d0 = { 'a':1, 'b':2}
d1 = { 'a':3, 'b':4}
d1 > d0

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [26]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
print (list[1:3])

# A - [ 'abcd', 786 , 2.23, 'john', 70.2 ]
# B - abcd
# C - [786, 2.23]
# D - None of the above.

[786, 2.23]

In [27]:
print(type(1/2))
# A - <class 'float'>
# B - <class 'int'>
# C - NameError: ‘½’ is not defined.
# D - 0.5

<class 'float'>

In [32]:
s = 0
for d in range(0, 5, 0.1):
    s += d
print(s)
# A - Syntax Error
# B - Type Error
# C - Runtime Error
# D - Both b & c

TypeError: 'float' object cannot be interpreted as an integer

In [33]:
b = [11,13,15,17,19,21]
print(b[::2])
# A - [19,21]
# B - [11,15]
# C - [11,15,19]
# D - [13,17,21]

[11, 15, 19]

In [35]:
name = "Saylani"
name[0]=s
print(name)

# A.	saylani
# B.	Error
# C.	s
# D.	Saylani

TypeError: 'str' object does not support item assignment

In [37]:
student_name = input()
students_marks = input()
print('Dear'+ student_name + 'your marks are' + students_marks)

Asad
50
DearAsadyour marks are50

In [38]:
number = 1 + 2 * 3 / 4.0
print(number)
# A.	2.0
# B.	2
# C.	2.5
# D.	Error

2.5

In [39]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

# A.	[3,7,11,15]
# B.	Error
# C.	[2,4,6,8,1,3,5,7]
# D.	[1,3,5,7,2,4,6,8]

[1, 3, 5, 7, 2, 4, 6, 8]

In [40]:
2 ** 3 ** 2**1
# A.	invalid 
# B.	equal to 16 
# C.	equal to 16.0 
# D.	equal to 512 
# E.	equal to 64 
# F.	equal to 128.0

512

In [44]:
               
print("peter's sister's name's \"anna\"") 
print('peter\'s sister\'s name\'s \"anna\"')
# print("peter's sister's name's "anna"")
# print('peter's sister's name's "anna"')
#Ans: peter's sister's name's "anna"

peter's sister's name's "anna"
peter's sister's name's "anna"

In [45]:
x = 0 
y = 2 
z = len("python") 
x = y > z 
print(x)
type(x)
  	
# A.	int 
# B.	float 
# C.	str 
# D.	bool 
# E.	nonetype

False

bool

In [46]:
a = 0 
b = a ** 0 
if b < a + 1:
    c = 1 
elif b == 1: 
    c = 2 
else: 
     c = 3 
print(a + b + c) 
# A.	1 
# B.	2 
# C.	3 
# D.	the code is erroneous

3

In [50]:
x = 20 #"20" 
y = 30# "30" 
print(x > y)

# A.	True 
# B.	False 
# C.	none 
# D.	the comparison causes a runtime exception/error

False

In [51]:
#    01234567890123
s = "hello, python!"  
#    -14           
print(s[-14:15]) 
# A.	hello, python! 
# B.	!nohtyp ,olleh 
# C.	hello, python!hello, python! 
# D.	!nohtyp ,olleh!nohtyp ,olleh 
# E.	the program causes a runtime exception/error f. the result cannot be predicted

hello, python!

In [52]:
lst = ["a", "b", "c", 2, 4] 
del lst[0:-2] 
print(lst) 
# A.	[2, 4] 
# B.	['c', 2, 4] 
# C.	['b', 'c', 2, 4] 
# D.	['a', 'b']

[2, 4]

In [53]:
dict = { 'a': 1, 'b': 2, 'c': 3 } 
for item in dict: 
 	print(item) 
# A.	a 
# b 
# c 
# B.	1 
# 2 
# 3 
# C.	a:1 
# b:2 
# c:3 
# D.	 the code is erroneous

a
b
c

In [56]:
s ='python' 
for i in range(len(s)): 
     i = s[i].upper() 
print(s, end="")

python

In [58]:
lst1 = "12,34" 
lst2 = lst1.split(',') 
print(len(lst1) < len(lst2)) 
lst2

False

['12', '34']

In [59]:
mylist = [11, 22, 33, 44, 55, 66, 77, 88, 99]
mylist [ : : -1 ]
# A.	error
# B.	[ ]
# C.	[99,88,77,66,55,44,33,22,11]
# D.	[11,33,55,77,99]

[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [60]:
val = 100
# A.	val.type( )
# B.	type.val()

type(val)

int

In [65]:
#Q22: what is the correct syntax for deleting a value on index 2 from alist:
alist = [1,2,3,4,]     
# A.	alist[2].delete( )
del alist[2]
# C.	alist.remove(2)
alist

[1, 2, 4]

In [66]:
country='pakistan'
independence_day=1947
print(country+independence_day)

TypeError: can only concatenate str (not "int") to str

In [68]:
print("languages:\npython\nc\njavascript")
# A.	languages: python c javascript
# B.	languages:
        # python
        # c
        # javascript

languages:
python
c
javascript

In [69]:
10//3
# A.	3.33
# B.	3
# C.	4

3

In [72]:
2**(3**2), (2**3)**2, 2**3**2 
# A.	64, 512, 64
# B.	512, 64, 512
# C.	512, 512, 512
# D.	64, 512, 512

(512, 64, 512)

In [74]:
print( 8/4/2 ) , print( 8/(4/2))
# A.	, 4.0
# B.	4.0 , 1.0
# C.	1.0,4.0
# D.	4.0, 4.0

1.0
4.0

(None, None)

In [75]:
x = 0
a = 5 
b = 5 
if a > 0:
    if b< 0 :
        x = x + 5
    elif a > 5:
        x = x +4
    else:
        x = x +3
else:
    x = x +2
print(x)
# A.	0
# B.	4        
# C.	3
x =0
a = 5
b= 5

3

In [77]:
numbers = [10,20]
items = ['“chair”', '“table”'] 
for x in numbers:
    for y in items:
        print(x,y)

10 “chair”
10 “table”
20 “chair”
20 “table”

In [81]:
for l in 'johan':
    if l=='o':
        pass
    print(l, end=',')
# A.	j, h, n
# B.	j, h, o ,n
# C.	o, n

j,o,h,a,n,

In [83]:
favorite_languages = {'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python'}
print(type(favorite_languages['jen']))
# A.	list
# B.	dict
# C.	str

<class 'str'>

In [85]:
favorite_languages = {'jen': 'python', 'sarah': 'c',  'edward': 'ruby', 'phil': 'python',}
favorite_languages[0]="java"
print(favorite_languages)
# A.	error
# B.	{'jen': 'python', 'sarah': 'c','edward': 'ruby', 'phil': 'python', 0 : “java”}
# C.	{‘java’, 'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python',}
# D.	{0:‘java’, 'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python',}

{'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python', 0: 'java'}