# For Loop

In [4]:
for i in range(10):
    print (i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range (2,9):
    print (i, end=" ")

2 3 4 5 6 7 8

In [6]:
for i in range(10,0,-1):
    print (i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [22]:
for i in range(11,2 ,-1):
    print (i, end=" ")

11 10 9 8 7 6 5 4 3

In [24]:
for i in range(1,1000):
    if i%3==0:
        break
    print(i)

1
2

In [52]:
#using and operator
even = []
odd = []
for i in range (1,50):
    if i%2==0 and (i%5 !=0):
        even.append(i)
        
    elif i%5 !=0:
        odd.append(i)

    
print (even)
print(odd)

[2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48]
[1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39, 41, 43, 47, 49]

In [53]:
#Using Nested IF
evens = []
odds = []
for i in range (1,50):
    if i%2==0:
        if (i%5 !=0):
            evens.append(i)
        
    elif i%5 !=0:
        odds.append(i)

    
print (even)
print(odd)

[2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48]
[1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39, 41, 43, 47, 49]

In [57]:
#using non repetative method 
evens_n =[]
odds_n =[]
for i in range (50):
    if i%5!=0:
        if i%2==0:
            evens_n.append(i)
        elif i:
            odds_n.append(i)
print (evens_n)
print(odds_n)

[2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48]
[1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39, 41, 43, 47, 49]

In [70]:
for num in range (1,10):
    if num==9:
        continue #skips the iteration and break # terminate the iteration
    else:
        print(num, end=" ")

1 2 3 4 5 6 7 8

# Iterating Over a list Using For Loop

In [76]:
list1 = ["Masab", "Saad","Mini","Zain", "Waqas","Falana"]

In [115]:
for name in list1:
    print (f'''Welcom Mr.{name}''')

Welcom Mr.Masab
Welcom Mr.Saad
Welcom Mr.Mini
Welcom Mr.Zain
Welcom Mr.Waqas
Welcom Mr.Falana

In [118]:
"Saad" in list1

True

In [78]:
for name in list1[1:3]:
    print (f'''Welcom Mr.{name}''')

Welcom Mr.Saad
Welcom Mr.Mini

In [131]:
g_list=[]
for g in range (5):
    g= input("Enter Name of guests").lower()
    if g=="masab" or g in g_list:
        continue
    else:
        g_list.append(g)

print(g_list)

Enter Name of guestsmasab
Enter Name of guestskhiz
Enter Name of guestskhiz
Enter Name of guestsali
Enter Name of guestsok
['khiz', 'ali', 'ok']